<%= simple_form_for @speaker, defaults: { input_html: { class: 'form-control', label: false } } do |f| %>

  <div id="speakerContactDetails" class="row">
    <div class="col-md-3">
        <%= f.input :name, placeholder: 'Name' %>
        <%= f.input :email, placeholder: 'Email address' %>
        <%= f.input :city, placeholder: 'City' %>
        <%= f.input :blurb, placeholder: 'Short blurb' %>
        <%= f.input :twitter_handle, placeholder: '@Twitter handle' %>
        <%= f.input :website, placeholder: 'Website' %>
    </div>
    
    <div id="speakerAbout" class="col-md-8 col-md-offset-1">
      <div class="form-group">
        <%= f.label :about %>
        <%= f.text_area :about, { class: 'form-control', size: "30x12" } %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= link_to " Cancel", speakers_path, class: 'icon fa fa-arrow-circle-left' %>
        <%= f.submit 'Save Speaker', class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
<!--
<%= simple_form_for @speaker do |f| %>
  <%= f.input :name, label: 'Your username please'%>
  <%= f.input :email, required: false %>
  <%= f.button :submit %>
<% end %>-->
