<%= form_for @speaker, html: { class: 'well form form-horizontal', role: 'form' } do |f| %>

  <div id="speakerContactDetails" class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control noBlank' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control noBlank' %>
      </div>
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control noBlank' %>
      </div>
      <div class="form-group">
        <%= f.label :twitter_handle %>
        <%= f.text_field :twitter_handle, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :website %>
        <%= f.text_field :website, class: 'form-control' %>
      </div>
    </div>
    
    <div id="speakerAbout" class="col-md-8 col-md-offset-1">
      <div class="form-group">
        <%= f.label :about %>
        <%= f.text_area :about, { class: 'form-control', size: "30x12" } %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= link_to " Cancel", speakers_path, class: 'icon fa fa-arrow-circle-left' %>
        <%= f.submit 'Save Speaker', class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>