<div id="speakers" class="container">
  <p><em>This will become the administrator's view of the speakers list, and I'll build a nicer front-end for end-users.</em></p>
  <div class="row">
    <div class="col-md-12">
      <h1>Speakers</h1>
      
      <table class="table table-striped">
      <thead> 
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
          <th>Actions</th>
        </tr>
      </thead>
      <% @speakers.each do |speaker| %>
        <tr>
          <td><%= link_to speaker.name, speaker_path(speaker) %></td>
          <td><%= speaker.email %></td>
          <td><%= speaker.city %></td>
          <td>
          <%= link_to edit_speaker_path(speaker) do %>
            <i class="fa fa-pencil-square-o"></i>
          <% end %>
          
          <%= link_to("Delete", speaker_path(speaker), method: :delete, data: { confirm: "Are you sure?" }) %>
         
          </td>
        </tr>
      <% end %>
      </table>
    </div><!--col-md-12-->
  </div><!--row-->
  
  <div class="row">
    <div class = "col-md-12">
      <%= link_to " Add new Speaker", new_speaker_path, class: 'fa fa-icon fa-plus-circle' %>
    </div>
  </div>
  
</div><!--container-->