<div class="container" id="speakers">
	<div class="row">
		<h1 class="centered">Speakers</h1>
		<hr>
	</div><!-- /row -->

	<div class="row">
	  <div class="col-md-12 centered">
      <%= render 'searches/search' %>
	  </div>
	</div>
	<br>
	
	<div class="row">
	  <% @speakers.each do |speaker| %>
  		<div class="col-md-6 speakers-bg">
  			<div class="col-md-4 centered">
    			<br>
  			  <% if speaker.image_url.blank? %>
  			    <% image_url = "http://powermail4joomla.com/pmj25/images/generic_user_image.jpg" %>
  			  <% else %>
  			    <% image_url = speaker.image_url %>
  			  <% end %>
  			  <p><%= image_tag("#{image_url}", :class => "img img-circle", height: '60') %></p>
  				<h4><%= link_to speaker.name, speaker_path(speaker) %></h4>
  				<h5>Speaker's skills will be listed here</h5>
  			</div>
  			<div class="col-md-8 speakers-content">
  				<h4><%= speaker.blurb %></h4>
  				<p><%= truncate(speaker.about, length: 250) %></p>
  				<span class="read-more"><%= link_to "Read more", speaker_path(speaker) %></span>
  				<br>
  			</div>
  		</div><!-- /col -->
  	<% end %>  	
	</div><!-- /row -->
	<br>
	<br>
	
	<div class="row">
	  <div class="col-md-12">
	  </div>
	</div>
	
	<div class="row">
	  <div class = "col-md-12">
	    <%= link_to " Add new Speaker", new_speaker_path, class: 'fa fa-icon fa-plus-circle' %>
	  </div>
	</div>
	
</div><!-- /container -->