<div class="container" id="speakers">
<br>
	<div class="row">
		<br>
		<h1 class="centered">Speakers</h1>
		<hr>
		<br>
		<br>
	</div><!-- /row -->
	
	<div class="row">
	
	  <% @speakers.each do |speaker| %>
  		<div class="col-md-6 speakers-bg">
  			<div class="col-md-4 centered">
  			<br>
  				<p><img class="img img-circle" src="http://powermail4joomla.com/pmj25/images/generic_user_image.jpg" width="60px" height="60px"></p>
  				<h4><%= link_to speaker.name, speaker_path(speaker) %></h4>
  				<h5>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h5>
  			</div>
  			<div class="col-md-8 speakers-content">
  				<h4><%= speaker.blurb %></h4>
  				<p><%= truncate(speaker.about, length: 300) %></p>
  				<p><%= link_to "Read more", speaker_path(speaker) %></p>
  				<br>
  			</div>
  		</div><!-- /col -->
  	<% end %>
		
	</div><!-- /row -->
	<br>
	<br>
	
	<div class="row">
	  <div class = "col-md-12">
	    <%= link_to " Add new Speaker", new_speaker_path, class: 'fa fa-icon fa-plus-circle' %>
	  </div>
	</div>
	
</div><!-- /container -->