<h1>New Speaker</h1>

<%= form_for :speaker, url: speakers_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </p>
  
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter %>
  </p>
  
  <p>
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>